@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

/*marcellus SC @import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
font-family: 'Marcellus SC', serif;

MAYBE USE IT FOR THE COMPANY NAME

*/
/*=================Color Palette===============*/

:root {
  --overlay1-color1: rgba(0, 0, 0, 0.35);
  --overlay1-color2: rgba(0, 0, 0, 0.75) 75%;
  --overlay1-color3: rgb(255, 255, 255);
  --overlay2-color1: rgba(255, 255, 255, 0.99);
  --overlay2-color2: rgba(0, 0, 0, 0.22) 75%;
  --overlay2-color3: rgba(0, 0, 0, 0.35);

  --main-title-color: rgb(255, 255, 255);
  --sub-title-color: rgb(0, 64, 129);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*====================Header====================*/

.header {
  height: 7em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 30px;
  background-color: rgb(0, 64, 129);
  border-bottom: solid 2px #fff;
}

.nav-logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links__container {
  list-style: none;
  margin-right: 80px;
}

.nav-links__container li {
  display: inline-block;
  padding: 0px 25px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}

.button-header {
  box-sizing: border-box;
  max-width: 196px;
  padding: 15px 50px;
  font-size: 1.7em;
border: none;
  background-color: #fff;
  color: #004081;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
}

.button-header:hover {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #004081;
  color: #fff;
  transition: 0.3s;
}

/*====================Main====================*/

.overlay1 {
  background: linear-gradient(
    var(--overlay1-color1),
    var(--overlay1-color2),
    var(--overlay1-color3)
  );

  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay2 {
  background: linear-gradient(
    var(--overlay2-color1),
    var(--overlay2-color2),
    var(--overlay2-color3)
  );

  width: 100%;
  height: 100%;
  z-index: -1;
}

#videoBG {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.section {
  width: 100%;
  height: 100%;
  min-height: 720px;

  border: 1px solid greenyellow;

}
.section-main {
  height: calc(100vh - 7em);
}

.title-main {
  box-sizing: border-box;
  
  max-width: 12.9em;
  font-size: 15em;
  color: var(--main-title-color);
  text-align: left;
  text-transform: uppercase;
  padding-top: 30px;
  margin-left: 50px;
}

.text-main {
  color: var(--main-title-color);
  text-align: left;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 4em;
}

.button-main {
  margin-top: 6.5rem;
  
  padding: 2.9rem 4.8rem;
  font-size: 3.2rem;
  border: none;
  background-color: #004081;
  color: #fff;
  position: absolute;
  left: 5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: inset 0px 0px 0px 3px #fff;
}

.button-main:hover {
  box-shadow: inset 0px 0px 0px 3px #004081;
  background-color: #fff;
  color: #004081;
  transition: 0.5s;
}

/*====================Stages====================*/

/**.section-stages {
  height: 100vh;
}
*/
.title-sub {
  font-size: 5em;
  color: var(--sub-title-color);
  padding-top: 6rem;
  padding-left: 5rem;
}

.stages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 10em 5em 6em 5em;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  counter-reset: stage;
  row-gap: 7em;
}

.stage {
  max-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #004081;
  padding: 2rem 3rem;
  border-radius: 5rem;
  position: relative;
  font-size: 4rem;
  text-align: center;
  box-shadow: inset 0px 0px 0px 5px #fff;
  
}

.stage img {
  height: 13em;
}

.stage p {

  font-size: inherit;
  color: #fff;
  padding-left: 2rem;
}

.stage::before {
  width: 2em;
  height: 2em;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: 92%;
  top: -20%;
  line-height: 2em;
  text-align: center;
  color: #fff;
  box-shadow: inset 0px 0px 0px 5px #fff;
  font-weight: 700;
  counter-increment: stage;
  content: "" counter(stage);
  
}

.stage:nth-child(2), .stage:nth-child(4) {
  margin-right: 0;
  margin-left: auto;
 
}



/*-====================Containers====================*/

.containers-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 7em;
  padding-right: 7em;
  margin-top: 50px;
}

.container__img {
  width: 30%;
  max-width: 512px;
  
}

.containers__list {
  width: 70%;
  max-width: 1000px;
  list-style: none;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.container-type {
  width: 40%;
  max-width: 384px;
  background-color: #004081;
  margin-left: 6rem;
  margin-bottom: 6rem;
  padding: 3rem 2.5rem;
  box-shadow: inset 0px 0px 0px 5px #fff;
  border-radius: 3em;
  flex: 1;
}

.container-type h3 {
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
  font-weight: 700;
}

.container-type p {
  font-size: 2.3rem;
  display: block;
}

.container-type strong {
  font-size: inherit;
  font-weight: 700;
}

/*====================Prices====================*/

.title-prices {
  font-size: 4.7rem;
  color: #fff;
  margin: 7rem auto;
  text-align: center;
}

.prices__list {
  display: flex;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 6em;
}

.prices__item {
  width: 90%;
  max-width: 512px;
  position: relative;
  text-align: center;
  border-radius: 50px;
  
}

.prices-thumbnail {
  width: inherit;
  max-width: in;
  border-radius: 5em;
  opacity: 95%;
  background-color: #fff;
  border: 5px solid #004081;
}

.prices-text__container {
    width: 100%;
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  max-width: 500px;

  padding: 4em 1em;
}

.route {
  font-size: 4em;
  color: #004081;
  font-weight: 700;
}

.price {
  font-size: 6em;
  color: #004081;
  font-weight: 700;
  padding-top: 1em;
}

.vat {
  font-size: 3em;
  color: #004081;
}

.prices__button {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2.9rem 4.8rem;
  font-size: 3rem;
  border: none;
  background-color: #004081;
  color: #fff;

  font-weight: 700;
  cursor: pointer;
  border-radius: 5rem;
}

.prices__button:hover {
  box-shadow: inset 0px 0px 0px 3px #004081;
  background-color: #fff;
  color: #004081;
  transition: 0.5s;
}

/*====================About====================*/
.about-lining {
  display: flex;
  align-items: center;
}

.about-text__container {
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-left: 0;
  margin-bottom: 35px;
}
.about__text {
  font-size: 3em;
  color: #fff;
  margin-bottom: 35px;
}

.about-advantages {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.about-map {
  height: 80vh;

}

/*====================Footer====================*/

.dev {
  width: 100vw;
  float: right;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: rgba(16, 14, 39, 0.75);
  border-top: solid 2px #fff;
}

.made_by {
  text-decoration: none;
  color: #ffffff;
  padding-right: 10px;
  font-size: 2em;
}

.dev-hover {
  font-size: 2rem;
}
.made_by:hover > .dev-hover {
  font-weight: 700;
}

.dev-icon {
  width: 60px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*=====================@media====================*/

@media (min-width: 1280px) {

}