@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

/*=================Color Palette===============*/

:root {
  --overlay1-color1: rgba(0, 0, 0, 0.3);
  --overlay1-color2: rgba(0, 0, 0, 0.2) 70%;
  --overlay1-color3: rgb(255, 255, 255) 93%;
  --overlay2-color1: rgb(255, 255, 255);
  --overlay2-color2: rgb(255, 255, 255);
  --overlay2-color3: rgb(255, 255, 255);

  --main-title-color: rgb(255, 255, 255);
  --sub-title-color: rgb(0, 64, 129);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Exo 2", sans-serif;
  list-style: none;
  font-weight: 400;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  /*outline: 1px solid #f00 !important;*/
}

html {
  background-color: #fff;
}
/*====================Navigation====================*/

.main-nav {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: rgb(0, 64, 129);
  z-index: 1;
  /*border-bottom: solid 2px rgb(255, 255, 255);*/
}

.logo-link {
  width:fit-content;
  height: 7.5vh;
  margin-left: 20px;
}

.nav-logo {
  cursor: pointer;
 height: inherit;
}



.nav-links {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nav-links li {
  display: block;
  padding: 0px 25px;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 2.8vh;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 13px;
}
nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background: rgb(255, 255, 255);
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}

.button-header {
  display: block;
  
  width: 259px; /*to prevent btn resizing when showing phone num*/
  max-width: 260px;
  padding: 1.5vh 20px;
  font-size: 2.5vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 64, 129);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5vh;
  cursor: pointer;
  text-align: center;
}


.button-header:hover {
  box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
  background-color: rgb(0, 64, 129);
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 30px;
  border-radius: 2px;
  margin: 0.5rem 0;
  background: rgb(255, 255, 255);
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
  transform: translate(0px) rotate(45deg) translate(10px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .line3 {
  transform: translate(0px) rotate(-45deg) translate(10px);
}
.main-nav.show .nav-links {
  transform: translateX(0);
}

/*====================Main====================*/

.overlay1 {
  background: linear-gradient(
    var(--overlay1-color1),
    var(--overlay1-color2),
    var(--overlay1-color3)
  );

  background-size:cover;
  background-blend-mode: overlay;
}
/*
.overlay2 {
  background: linear-gradient(
    var(--overlay2-color1),
    var(--overlay2-color2),
    var(--overlay2-color3)
  );

  width: 100%;
  height: 100%;
  z-index: -1;
}
*/
#videoBG {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

}

.section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-main {
  height: calc(100vh + 8vh);
  
}

.title-main {
  width: 90vw;
  font-size: 13.9vh;
  color: var(--main-title-color);
  text-align: left;
  text-transform: uppercase;
  margin-top: 14vh;
  margin-left: 50px;
  z-index: 2;
}

.text-main {
  width: 90vw;
  color: var(--main-title-color);
  text-align: left;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 5vh;
  z-index: 2;
}

.button-main {
  margin-top: 6%;
  text-decoration: none;
  padding: 2.5vh 2.5vw;
  font-size: 3vh;
  border: none;
  background-color: rgb(0, 64, 129);
  color: rgb(255, 255, 255);
  position: absolute;
  left: 5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5vh;
  box-shadow: inset 0px 0px 0px 3px rgb(255, 255, 255);
}

.button-main:hover {
  box-shadow: inset 0px 0px 0px 3px rgb(0, 64, 129);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 64, 129);
  transition: 0.5s;
}

.title-sub {
  width: 90vw;
  font-size: 5vh;
  color: var(--sub-title-color);
  padding-top: 5.6vh;
  padding-left: 2.5vw;
  font-weight: 700;
}
/*====================Stages====================*/



.stages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 7vh 2vw 5vh 2.6vw;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  counter-reset: stage;
  row-gap: 0.5vh;
}

.stage {
  max-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 64, 129);
  padding: 1.9vh 1.6vw;
  border-radius: 3vh;
  position: relative;
  font-size: 3.4vh;
  
}

.stage img {
  height: 10vh;
}

.stage p {
  font-size: inherit;
  color: #fff;
  padding-left: 1vw;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.stage::before {
  width: 7vh;
  height: 7vh;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  left: 92%;
  top: -20%;
  line-height: 7vh;
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255);
  font-weight: 700;
  counter-increment: stage;
  content: "" counter(stage);
}

.stage:nth-child(2),
.stage:nth-child(4) {
  margin-right: 2vh;
  margin-left: auto;
}

/*-====================Containers====================*/

.containers-wrapper {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding-left: 3.7vw;
  padding-right: 3.7vw;
  margin-top: 8.3vh;
}

.container__img {
  width: 30%;
  max-width: 512px;
}

.containers__list {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  max-width: 1400px;
  max-height: 1400px;
  list-style: none;
  color: rgb(255, 255, 255);
  margin-right: 5vw;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.container-type {
  width: 40%;
  background-color: rgb(0, 64, 129);
  margin-left: 5.6vh;
  margin-bottom: 5.6vh;
  padding: 2.8vh 2.8vh;
  border-radius: 3em;
  flex: 1;
}

.container-type h3 {
  font-size: 2.3vh;
  padding-bottom: 1.1vh;
  font-weight: 700;
}

.container-type p {
  font-size: 2.1vh;
  display: block;
}

.container-type strong {
  font-size: inherit;
  font-weight: 700;
}

/*====================Prices====================*/

.prices-info {
  font-size: 4vh;
  color: rgb(0, 64, 129);
  width: 80vw;
  margin-left: 2.5vw;
  margin-top: 5vh;
}

.prices-popular {
  font-size: 4.4vh;
  color: rgb(0, 64, 129);
  margin: 6.5vh auto;
  text-align: center;
}

.prices__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 5.6vh;
  padding-left: 3vw;
  padding-right: 3vw;
  column-gap: 5vw;
}

.prices__item {
  width: 80%;
  max-width: 512px;
  position: relative;
  text-align: center;
  border-radius: 5vh;
}

.prices-thumbnail {
  width: inherit;
  border-radius: 5vh;
  opacity: 70%;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 64, 129);
}
/*
.prices-text__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  margin:  auto;
  width: 100%;
  max-width: 512px;
  padding-top: 3.7vh;
  padding: 3.7vh 1vw
}*/

.route {
  width: inherit;
  max-width: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 4vh;
  color: rgb(0, 64, 129);
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.price {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 5vh;
  color: rgb(0, 64, 129);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.vat {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2.8vh;
  color: rgb(0, 64, 129);
}

.prices__button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  display: block;
  padding: 2.7vh 2vw;
  font-size: 3vh;
  width: 70%;
  max-width: 480px;
  background-color: rgb(0, 64, 129);
  color: rgb(255, 255, 255);
  
  font-weight: 700;
  cursor: pointer;
  border-radius: 5vh;
  text-decoration: none;
  white-space: nowrap;
}

.prices__button:hover {
  box-shadow: inset 0px 0px 0px 3px rgb(0, 64, 129);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 64, 129);
  transition: 0.5s;
}

/*====================About====================*/
.about-layout {
  position: relative;
}

.about-text__container {
  width: 65%;
  padding-right: 3.9vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 2.5vw;
}

.about__title {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 3.2vh;
}
.about__text {
  font-size: 2.8vh;
  color: rgb(0, 64, 129);
  margin-bottom: 3vh;
}

.about-advantages {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 3vh;
}

.about-map {
  position: absolute;
  height: 100%;
  z-index: -1;
  opacity: 70%;
}

/*====================Footer====================*/

.footer {
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 64, 129, 1);
  border-top: solid 2px #fff;

}
.dev {
height: inherit;
display: flex;
align-items: center;
justify-content: flex-end;
flex-direction: row;
padding-right: 1vw;
background-color: rgba(0, 64, 129, 1);
}

.made_by {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-right: 10px;
  font-size: 1.9vh;
}

.dev-hover {
  font-size: 1.9vh;
  cursor: pointer;
}
.made_by:hover > .dev-hover {
  font-weight: 700;
}

.dev-link {
  width: 4vh;
}
.dev-link:hover {
  width: 4.2vh;
}

.dev-icon {
  width: inherit;
  cursor: pointer;
}

/*=====================@media====================*/

@media (min-width: 1025px) and (max-width: 1279px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  /*====================Navigation====================*/
  .logo-link {
    margin-left: 0;
  }
  .nav-links {
    width: 60%;
  }
  .burger {
    display: block;
    
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: calc(100vh - 8vh);
    width: 50%;
    flex-direction: column;
    gap: 10vw;
    align-items: start;
    justify-content: flex-start;
    padding-top: 10vw;
    background: rgb(0, 64, 129);
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .button-header {
    width: 90%;
    font-size: 4vw;
    position: fixed;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, 0);
  }

  /*====================Main====================*/

  #videoBG {
    overflow: hidden;
  }
 
  .section-main{
    
    height: 100vh;
  }
  .title-main {
    margin: 14vh auto;
    font-size: 11vw;
   
  }

  .text-main {
    margin: 15vh auto;
    font-size: 10vw;
    
  }
  .title-sub {
    padding-top: 7vw;
    font-size: 8vw;
  }

  /*====================Stages====================*/

  .stages__list {
    margin-top: 10vw;
    row-gap: 10vw;
  }

  .stage {
    min-width: 60vw;
    font-size: 2.1vh;
    padding-left: 3vw;
 
  }

  .stage img {
    height: 7vh;
  }

  .stage::before {
    width: 4vh;
    height: 4vh;
    line-height: 4vh;
  }

  /*-====================Containers====================*/

  .containers-wrapper {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: 100%;
    gap: 10vw;
  }

  .containers__list {
    margin: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
  }

  .flex-break {
    display: none;
  }
  .container-type {
    width: 90vw;
    margin: 0 auto;
  }

  .container__img {
    width: 60%;
    max-width: 460px;
  }

  /*====================Prices====================*/

  .prices-info {
    width: 90vw;
    margin: 15vw auto;
    text-align: left;
    font-size: 7vw;
  }

  .prices-popular {
    width: 90vw;
    font-size: 8vw;
  }

  .prices__list {
    flex-direction: column;
    gap: 10vw;
  }

  .prices__item {
    width: 90%;
    max-width: 470px;
  }

  .prices__button {
    font-size: 5vw;
  }

  /*====================About====================*/

  .about-text__container {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: start;
  }

  .about__title {
    padding-left: 2.5vw;
  }

  .about__text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-advantages {
    width: 80%;
    margin-right: auto;
  }

  .about-map {
    opacity: 50%;
  }
}
